# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.db
*.sqlite
*.sqlite3

# Node modules
node_modules/

# Next.js
.next/
out/

# Build
build/
dist/

# Misc
.DS_Store
*.log

tsconfig.tsbuildinfo
lighthouse.db
lighthouse-config*.json
TODO.org
script-output.log
docker-compose*.override.yml
